.BottomPane{
    background-color: #30404D;
    padding: 55px 55px 55px 55px;
    color: white;
}

/* text styles etc. */

.searchBar{
    position: relative;
    top: 20px;
    /* color: white ; */
}

/* .MuiTextField-root{
    background-color: red;
    color: yellow;
} */